In [6]:
import pandas as pd
from ast import literal_eval
import json
import numpy as np
import datetime

In [7]:
df = pd.read_csv('2022-9-13.csv', index_col=0)
df.head()

,report,name,listing_date,listing_board,shares,sector
ADMG,"{'Anlz 2022': {'Last Price': '170 ', 'Share Ou...",Polychem Indonesia Tbk,1993-10-20T00:00:00,Utama,3889179559,Basic Materials
AGII,"{'Anlz 2022': {'Last Price': '2,170 ', 'Share ...",Aneka Gas Industri Tbk.,2016-09-28T00:00:00,Utama,3066660000,Basic Materials
AKPI,"{'Anlz 2022': {'Last Price': '1,645 ', 'Share ...",Argha Karya Prima Industry Tbk,1992-12-18T00:00:00,Pengembangan,612248000,Basic Materials
ALDO,"{'Anlz 2022': {'Last Price': '750 ', 'Share Ou...",Alkindo Naratama Tbk.,2011-07-12T00:00:00,Pengembangan,1316856070,Basic Materials
ALKA,"{'Anlz 2022': {'Last Price': '290 ', 'Share Ou...",Alakasa Industrindo Tbk,1990-07-12T00:00:00,Pengembangan,507665055,Basic Materials

In [8]:
list_input = ['MAPI', 'MTEL', 'MEDC']

In [9]:
# list_input = ['BBRI']
monitored_emitment = {}
for emitment in list_input:
    reports = literal_eval(df['report'].loc[emitment])
    report_quarter = {}
    report_quarter.update({"sector" :df['sector'].loc[emitment]})
    for report in reports:
        report_quarter.update({
             ("{} - Last Price".format(report)) : reports[report]["Last Price"],
             ("{} - Total Asset".format(report)) : reports[report]["Total Asset"],
             ("{} - Total Equity".format(report)) : reports[report]["Total Equity"],
             ("{} - Net.Profit".format(report)) : reports[report]["Net.Profit"],
             ("{} - Deviden".format(report)) : reports[report]["Deviden"],
             ("{} - EPS".format(report)) : reports[report]["EPS"],
             ("{} - PER".format(report)) : reports[report]["PER"],
             ("{} - PBV".format(report)) : reports[report]["PBV"],
             ("{} - ROE".format(report)) : reports[report]["ROE"],
             ("{} - Debt/Equity".format(report)) : reports[report]["Debt/Equity"],
        })
    monitored_emitment.update({emitment : report_quarter})

result = pd.DataFrame(monitored_emitment).replace(np.nan,'-',regex=True)
result.head()

                                        MAPI             MTEL     MEDC
sector                    Consumer Cyclicals  Infrastructures   Energy
Anlz 2022 - Last Price                1,030              780      935
Anlz 2022 - Total Asset               18.0 T           55.1 T  103.6 T
Anlz 2022 - Total Equity               8.8 T           33.9 T   24.1 T
Anlz 2022 - Net.Profit                 2.1 T            1.8 T    8.0 T

In [10]:
date = datetime.datetime.now()

str_date = (datetime.datetime.now().strftime("%Y-%m-%d %f"))
result.to_csv('monitor-{}.csv'.format(str_date))