In [5]:
import pandas as pd
from ast import literal_eval
import json
import numpy as np
import datetime

In [6]:
df = pd.read_csv('2022-9-13.csv', index_col=0)
df.head()

,report,name,listing_date,listing_board,shares,sector
ADMG,"{'Anlz 2022': {'Last Price': '170 ', 'Share Ou...",Polychem Indonesia Tbk,1993-10-20T00:00:00,Utama,3889179559,Basic Materials
AGII,"{'Anlz 2022': {'Last Price': '2,170 ', 'Share ...",Aneka Gas Industri Tbk.,2016-09-28T00:00:00,Utama,3066660000,Basic Materials
AKPI,"{'Anlz 2022': {'Last Price': '1,645 ', 'Share ...",Argha Karya Prima Industry Tbk,1992-12-18T00:00:00,Pengembangan,612248000,Basic Materials
ALDO,"{'Anlz 2022': {'Last Price': '750 ', 'Share Ou...",Alkindo Naratama Tbk.,2011-07-12T00:00:00,Pengembangan,1316856070,Basic Materials
ALKA,"{'Anlz 2022': {'Last Price': '290 ', 'Share Ou...",Alakasa Industrindo Tbk,1990-07-12T00:00:00,Pengembangan,507665055,Basic Materials

In [7]:
list_input = df[df['sector'] == 'Energy'].index
list_input.tolist()

['ADMR',
 'ADRO',
 'AIMS',
 'AKRA',
 'APEX',
 'ARII',
 'ARTI',
 'BBRM',
 'BESS',
 'BIPI',
 'BOSS',
 'BSML',
 'BSSR',
 'BULL',
 'BUMI',
 'BYAN',
 'CANI',
 'CNKO',
 'COAL',
 'DEWA',
 'DOID',
 'DSSA',
 'DWGL',
 'ELSA',
 'ENRG',
 'ETWA',
 'FIRE',
 'GEMS',
 'GTBO',
 'GTSI',
 'HITS',
 'HRUM',
 'IATA',
 'INDY',
 'INPS',
 'ITMA',
 'ITMG',
 'JSKY',
 'KKGI',
 'KOPI',
 'LEAD',
 'MBAP',
 'MBSS',
 'MCOL',
 'MEDC',
 'MITI',
 'MTFN',
 'MYOH',
 'PGAS',
 'PKPK',
 'PSSI',
 'PTBA',
 'PTIS',
 'PTRO',
 'RAJA',
 'RIGS',
 'RMKE',
 'RUIS',
 'SEMA',
 'SGER',
 'SHIP',
 'SICO',
 'SMMT',
 'SMRU',
 'SOCI',
 'SUGI',
 'SURE',
 'TAMU',
 'TCPI',
 'TEBE',
 'TOBA',
 'TPMA',
 'TRAM',
 'UNIQ',
 'WINS',
 'WOWS']

In [8]:
# list_input = ['BBRI']
monitored_emitment = {}
for emitment in list_input:
    reports = literal_eval(df['report'].loc[emitment])
    report_quarter = {}
    report_quarter.update({"sector" :df['sector'].loc[emitment]})
    for report in reports:
        report_quarter.update({
             ("{} - Last Price".format(report)) : reports[report]["Last Price"],
             ("{} - Total Asset".format(report)) : reports[report]["Total Asset"],
             ("{} - Total Equity".format(report)) : reports[report]["Total Equity"],
             ("{} - Net.Profit".format(report)) : reports[report]["Net.Profit"],
             ("{} - Deviden".format(report)) : reports[report]["Deviden"],
             ("{} - EPS".format(report)) : reports[report]["EPS"],
             ("{} - PER".format(report)) : reports[report]["PER"],
             ("{} - PBV".format(report)) : reports[report]["PBV"],
             ("{} - ROE".format(report)) : reports[report]["ROE"],
             ("{} - Debt/Equity".format(report)) : reports[report]["Debt/Equity"],
        })
    monitored_emitment.update({emitment : report_quarter})

result = pd.DataFrame(monitored_emitment).replace(np.nan,'-',regex=True)
result.head()

,ADMR,ADRO,AIMS,AKRA,APEX,ARII,ARTI,BBRM,BESS,BIPI,...,SURE,TAMU,TCPI,TEBE,TOBA,TPMA,TRAM,UNIQ,WINS,WOWS
sector,Energy,Energy,Energy,Energy,Energy,Energy,Energy,Energy,Energy,Energy,...,Energy,Energy,Energy,Energy,Energy,Energy,Energy,Energy,Energy,Energy
Anlz 2022 - Last Price,"1,720","3,990",250,"1,230",432,376,50,50,230,179,...,"1,900",50,"8,650",815,845,384,-,56,214,50
Anlz 2022 - Total Asset,16.9 T,130.5 T,34.6 B,27.8 T,5.3 T,5.3 T,637.2 B,531.6 B,724.3 B,13.7 T,...,975.9 B,1.0 T,2.8 T,1.1 T,13.1 T,1.6 T,-,509.5 B,2.9 T,682.2 B
Anlz 2022 - Total Equity,7.6 T,90.8 T,19.1 B,12.5 T,2.0 T,959.9 B,-109.3 B,368.3 B,476.0 B,5.9 T,...,484.5 B,499.1 B,1.6 T,911.0 B,6.1 T,1.2 T,-,322.0 B,2.2 T,523.3 B
Anlz 2022 - Net.Profit,6.0 T,36.0 T,5.0 B,1.9 T,63.8 B,437.4 B,-26.0 B,-6.3 B,57.9 B,68.8 B,...,-58.4 B,-43.1 B,123.3 B,206.2 B,1.0 T,176.0 B,-,-20.0 B,-30.1 B,-49.5 B

In [9]:
date = datetime.datetime.now()

str_date = (datetime.datetime.now().strftime("%Y-%m-%d %f"))
result.to_csv('monitor-{}.csv'.format(str_date))